<div id="board">
    {{ $board := .UserBoard }}

    {{ if eq .IsGameOver true }}
        {{ $board = .RealBoard }}
    {{ else }}
        {{ $board = .UserBoard }}
    {{ end }}

    <p>Moves left: {{ .MovesLeft }}</p>

    <table>
        {{ range $iIndex,$iValue := $board }}
            <tr>
            {{ range $jIndex,$jValue := . }}
                <th class="myClass-{{ $jValue }}" style="height: 2em; width: 2em;cursor: pointer;border: 2px outset #ececec;box-sizing: border-box;" hx-get="boardclick/{{ $iIndex }}/{{ $jIndex }}" hx-target="#board" hx-swap="outerHTML">
                    {{ if eq $jValue -1 }}☠{{ end }}
                    {{ if eq $jValue 0 }} {{ end }}
                    {{ if eq $jValue 1 }}1{{ end }}
                    {{ if eq $jValue 2 }}2{{ end }}
                    {{ if eq $jValue 3 }}3{{ end }}
                    {{ if eq $jValue 4 }}4{{ end }}
                    {{ if eq $jValue 5 }}5{{ end }}
                    {{ if eq $jValue 6 }}6{{ end }}
                    {{ if eq $jValue 7 }}7{{ end }}
                    {{ if eq $jValue 8 }}8{{ end }}
                    {{ if eq $jValue -3 }} {{ end }}
                </th>
            {{ end }}
            </tr>
        {{ end }}
    </table>

    {{ if eq .IsGameOver true}}
        <p>Game Over</p>
        {{ if .IsWon}}
            <dialog id="dialog" style="position: relative; background: aquamarine;">
                <h1>YOU WON!</h1>
                <form method="dialog">
                    <button>OK</button>
                </form>
            </dialog>
        {{end}}
        {{ if .IsLost}}
            <dialog id="dialog" style="position: relative; background: orangered; color: white;">
                <h1>☠ YOU LOSE! ☠</h1>
                <form method="dialog">
                    <button>OK</button>
                </form>
            </dialog>
        {{end}}

        <script>
            var dialog = document.querySelector("dialog")
            dialog.showModal() // Opens a modal
        </script>
    {{ end }}
</div>