{{define "title"}}Minesweeper{{end}}

{{define "body"}}
<h1>Minesweeper</h1>

<div id="menu">
    <form hx-post="/newgame" hx-swap="outerHTML" hx-target="#board">
        <label for="rows">Rows
        <input id="rows" name="rows" type="number" value="10">
        </label>
        <br/>
        <label for="cols">Cols
        <input id="cols" name="cols" type="number" value="10">
        </label>
        <br/>
        <label for="mines">Mines
        <input id="mines" name="mines" type="number" value="10">
        </label>
        <br/>
        <input type="submit" value="New Game">
    </form>
</div>
<br/>

{{template "board.html" . }}{{ end }}

{{define "css"}}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.myClass--3 {
    background: white;
}

.myClass--1 {
    background: red;
}

.myClass-0 {
    background: #c0c0c0;
}

.myClass-1 {
    background: white;
    color: blue;
}

.myClass-2 {
    background: white;
    color: green;
}

.myClass-3 {
    background: white;
    color: red;
}

.myClass-4 {
    background: white;
    color: darkblue;
}

.myClass-5 {
    background: white;
    color: brown;
}

.myClass-6 {
    background: white;
    color: cyan;
}

.myClass-7 {
    background: white;
    color: black;
}

.myClass-8 {
    background: white;
    color: grey;
}
{{end}}