<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{block "title" . }}{{ end }}</title>
	<!-- <link rel="stylesheet" href="/web/stylesheets/main.css"> -->
	<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <style>{{block "css" . }}{{ end }}</style>
</head>
<body>
	{{block "body" . }}{{ end }}

    <p></p>
	<footer>Made by Jan Kadlec with Go and HTMX</footer>
	{{block "script" . }}{{ end }}
</body>
</html>